.background {
    position: absolute;

    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background-image: radial-gradient(circle at center bottom,rgba(37, 37, 37,0.8) 0%, rgba(0, 0, 0, 1) 100%);
    background-position: center top 50%;
}

.blob {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 30% 70% 80% 40% / 30% 40% 70% 70%;
    background: linear-gradient(rgba(41, 116, 221, 0.7) 0%,
            rgba(83, 51, 90, 0.7) 100%);
    filter: blur(50px);
    animation: resizeShape 8s infinite linear alternate,
        changeShape 10s infinite ease-in-out;
    animation-timing-function: ease-in-out;
    /* top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%); 
}

.blobContainer {
    position: absolute;
    animation: rotate 12s infinite ease-in-out;
}

.sideBarBackground {
    background: #1a1a1a;
    /* background: linear-gradient(160deg, rgba(24, 2, 29, 1) 0%, rgba(8, 33, 70, 1) 100%); */
}


@keyframes resizeShape {

    0%,
    100% {
        scale: 1;
    }

    25% {
        scale: 0.9;
    }

    75% {
        scale: 1.1;
    }
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes changeShape {

    0%,
    100% {
        border-radius: 30% 70% 80% 40% / 30% 40% 70% 70%;
    }

    20% {
        border-radius: 60% 40% 30% 70% / 50% 60% 30% 50%;
    }

    40% {
        border-radius: 30% 60% 50% 80% / 70% 30% 60% 40%;
    }

    60% {
        border-radius: 50% 30% 70% 40% / 40% 70% 30% 60%;
    }

    80% {
        border-radius: 70% 40% 60% 30% / 60% 50% 70% 40%;
    }
}