.customScrollbar>div {
  scrollbar-width: auto;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}
.customScrollbar>div::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.customScrollbar>div::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

.customScrollbar>div::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 4px;
  border: 2px solid var(--color-scrollbar-track);
}

.customScrollbar>div::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

.customScrollbar>div::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scrollbar-thumb-active);
}

.customScrollbar>div::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-track);
}

:root {
  --color-scrollbar-track: oklch(0.15 0 0);
  --color-scrollbar-thumb: oklch(0.3 0 0);
  --color-scrollbar-thumb-hover: oklch(0.35 0 0);
  --color-scrollbar-thumb-active: oklch(0.4 0 0);
}

